.product-card{
    width: 300px;
    padding: 10px;
}

.nutritialMark{
    height: 45px;
    width: 45px;
    margin: 10px 5px 10px 5px;
}

.productText{
    margin: 0px 0px 5px 0px;
}

.btn.btn-sm .fab, .btn.btn-sm .far, .btn.btn-sm .fas {
    font-size: 20px !important;
}