<p class="container breadcumb z-depth-2 text-right" style="margin-top: 90px;">
    <a class="breadLink" [routerLink]="['/home']">בית</a> /
    <a class="breadLink" [routerLink]="['/auth/login']">התחברות</a> /
    <a class="breadLink" [routerLink]="['/auth/login']">איפוס סיסמא</a> 
  </p>
  

<div class="flex-center">
    <div class="text-center border border-light p-5 col-md-6 col-md-offset-3">
        <p class="h4 mb-4">איפוס סיסמא</p>
        <p class="mb-4">.אנא הכנס את כתובת האימייל שלך בכדי לבקש איפוס סיסמא</p>
        <div class="formGroup">
            <input type="email" class="form-control mb-4" placeholder="כתובת אימייל" #passwordResetEmail required>
        </div>
        <div class="formGroup">
            <button mdbtn class="btn btn-info" (click)="resetPassword(passwordResetEmail.value)">
                אפס סיסמא&nbsp;<i class="fas fa-unlock-alt"></i>
            </button>
        </div>
        <p>חזור אחורה - <a [routerLink]="['/auth/login']">התחברות</a></p>
    </div>
</div>