<div class="product-card text-center">
    <!--Card-->
    <mdb-card cascade="true" narrower="true">


        <mdb-card-body cascade="true" class="text-right pb-0 px-0" style="padding: 5px">
            <!--Card content-->
            <div style="padding: 10px 10px 0px 10px">
                <mdb-card-text style="direction: rtl;">
                    <p>שם קטגוריה: {{category.name}}</p>
                    <p>מוצרים: {{category.quantity}}</p>
                    <p>תאריך הוספה: {{category.dateAdded |  date:'dd.MM.yy, HH:mm'}}</p>
                </mdb-card-text>
            </div>

            <!-- Card footer -->
            <div class="card-footer text-center mt-4" style="padding: 0; margin:0 !important;">
                <div class="btn-group btn-group" role="group" style="width: 100%;">
                    <button mdbBtn type="button" color="warning" class="waves-light" mdbWavesEffect
                        mdbTooltip="ערוך קטגוריה" placement="top" (click)="openEditCategoryModal(category)">
                        <i class="far fa-edit"></i>
                    </button>
                    <button mdbBtn type="button" color="danger" class="waves-light" mdbWavesEffect
                        mdbTooltip="מחק קטגוריה" placement="top" (click)="deleteCategory(category.id)">
                        <i class="far fa-trash-alt"></i>
                    </button>
                    <button mdbBtn type="button" color="unique" class="waves-light" mdbWavesEffect
                        mdbTooltip="צפה בפרטים מלאים" placement="top" (click)="openFullDetailsCategoryModal(category)">
                        <i class="far fa-eye"></i>
                    </button>
                    <button mdbBtn type="button" size="sm" class="waves-light stylish-color text-white" mdbWavesEffect
                        mdbTooltip="ייצא נתונים" placement="top" (click)="exportJsonData(category)">
                        <i class="fas fa-file-download"></i>
                    </button>
                </div>
            </div>

        </mdb-card-body>
        <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->

</div>

<!-- <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
    <app-subcategory-card (delete)="deleteSubcategory($event)" [subcategory]="subcategory" [categories]="categories" *ngFor="let subcategory of subcategories">
    </app-subcategory-card>
  </div> -->